.nav-container {
    width: 100vw;
    /* height: 50vh; */
    /* background-image: g ; */
    /* margin-bottom: 10%; */
    /* z-index: 1; */


}



.content {
    /* z-index: 1; */

    /* color: brown; */

    /* position: fixed;
    bottom: 0; */
    margin-left: 20%;
    color: white;


}