.skill-container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
}

.bio-container {
    width: 20%;
    height: 100%;
    padding: 0;
    text-align: center;
}



.bio-container img {
    width: 100%;
    height: 70%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.bio-container .bio-text {
    width: 100%;
    border: 1px solid black;
}

.all-skill {
    width: 20%;
    z-index: -1;

}

.skill-text {
    rotate: -90deg;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 4px blue;
    font-size: 10rem;
    letter-spacing: 0.15em;
}

.my-skill {
    width: 50%;
    z-index: -1;
}


.my-skill .h3-div {
    height: 2.05rem;
    width: 30%;
}

.bar {
    height: 2.05rem;
}

@media only screen and (max-width: 576px) {
    .bio-container {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
    }

    .bio-container img {
        width: 45%;
        height: 45vh;
        border: 1px solid black;
        margin: 0;
    }

    .bio-container .bio-text {
        width: 55%;
        border: 1px solid black;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-text {
        rotate: -360deg;
        font-family: "Times New Roman", Times, serif;
        text-shadow: 1px 1px 4px blue;
        font-size: 6rem;
        letter-spacing: 0.15em;
        text-align: center;
    }

    .all-skill {
        width: 100%;
        z-index: -1;

    }

    .my-skill {
        width: 100%;
        z-index: -1;
    }

    .my-skill .h3-div {
        height: 2.05rem;
        width: 40%;
    }
}


@media screen and (min-width: 577px) and (max-width: 992px) {

    .bio-container {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
    }

    .bio-container img {
        width: 50%;
        height: 45vh;
        border: 1px solid black;
        margin: 0;
    }

    .bio-container .bio-text {
        width: 50%;
        border: 1px solid black;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-text {
        rotate: -360deg;
        font-family: "Times New Roman", Times, serif;
        text-shadow: 1px 1px 4px blue;
        font-size: 6rem;
        letter-spacing: 0.15em;
        text-align: center;
    }

    .all-skill {
        width: 100%;
        z-index: -1;
        margin-top: 5%;

    }

    .my-skill {
        width: 100%;
        z-index: -1;
    }


}