.blog-container {
    width: 100%;
    min-height: 50vh;

}

.available-blogs {
    padding: 5%;
}

.available-blogs img {
    width: 100%;
    height: 40vh;
}

/* animation */
.bloglink:hover .blogAnimation {
    position: relative;
    animation: fromLeft 0.5s linear forwards;
}


.bloglink:hover .blogbuttonAnimation {
    position: relative;
    animation: fromBottom 0.5s linear forwards;
}



@keyframes fromLeft {
    0% {
        visibility: visible;
        top: -20%;
    }


    100% {
        visibility: visible;
        top: 0;
    }
}

@keyframes fromBottom {
    0% {
        visibility: visible;
        bottom: -20%;
    }


    100% {
        visibility: visible;
        bottom: 0;
    }
}



@media only screen and (max-width: 576px) {
    .available-blogs {
        padding: 5%;
    }

    .available-blogs img {
        width: 100%;
        height: 40vh;
    }
}

@media screen and (min-width: 577px) and (max-width: 830px) {

    .blog-container {
        width: 100%;
        min-height: 40vh;

    }

    .available-blogs {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0;
    }
}